<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
		<!--
		指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,
		PostgreSQLDialect,MySQLDialect,DerbyDialect,HSQLDialect
		-->
		<plugin interceptor="org.coiol.platform.common.mybatis.OffsetLimitInterceptor">
			<property name="dialectClass" value="org.coiol.platform.common.mybatis.dialect.MySQLDialect"/>
		</plugin>
	</plugins>
	<mappers>
		<mapper resource="sqlmap/common_SqlMap.xml" />
		<mapper resource="sqlmap/ModulesMapper.xml" />
		<mapper resource="sqlmap/LoginLogMapper.xml" />
		<mapper resource="sqlmap/RoleModuleMapper.xml" />
		<mapper resource="sqlmap/RolesMapper.xml" />
		<mapper resource="sqlmap/UserRoleMapper.xml" />
		<mapper resource="sqlmap/UsersMapper.xml" />
		<mapper resource="sqlmap/FieldsMapper.xml" />
		<mapper resource="sqlmap/SupplierMapper.xml" />
		<mapper resource="sqlmap/SupplierPriceMapper.xml" />
		<mapper resource="sqlmap/MaterialMapper.xml" />
		<mapper resource="sqlmap/ShipmentMapper.xml" />
		<mapper resource="sqlmap/UserTokenMapper.xml" /> 
	</mappers>
	
</configuration>